.header {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  z-index: 0;
  position: relative;
  background-color: var(--colour-light-mode-white);
}

.header_nav {
  display: none;
  width: 40%;
}

.hamburger {
  width: 30px;
  height: auto;
}

.dropdown_menu {
  background-color: var(--colour-light-mode-white);
  border: solid black 1px;
  border-radius: 0.2rem;
}

.dropdown_item {
  padding: 7px 16px;
  font-size: 0.9rem;
}

.dropdown_item:hover,
.dropdown_item:focus {
  background-color: var(--colour-pinky);
  color: var(--colour-light-mode-white);
}

@media (min-width: 500px) {
  .logo {
    height: 7rem;
    width: auto;
  }
  .header_nav {
    min-width: 6rem;
    max-width: 13rem;
    display: flex;
    justify-content: space-evenly;
  }
  .hamburger {
    display: none;
  }
  .buttons {
    flex-direction: row;
    z-index: 1;
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
  }
  .widescreen_user_button {
    background-color: var(--colour-pinky);
    padding: 7px 16px;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    color: var(--colour-light-mode-white);
    border: solid black 1px;
  }
  .widescreen_user_button:hover,
  .widescreen_user_button:focus {
    background-color: var(--colour-light-mode-white);
    color: var(--colour-pinky);
  }
}

@media (min-width: 768px) {
  .logo {
    height: 9rem;
    width: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .logo {
    position: relative;
    left: 50%;
  }
}
