.header {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  z-index: 0;
  position: relative;
  background-image: linear-gradient(
    205deg,
    var(--colour-light-mode-white),
    #b95955,
    var(--colour-goldy),
    var(--colour-light-mode-white),
    var(--colour-light-mode-white)
  );
  background-size: 110%;
  background-repeat: no-repeat;
  animation: bg-animation 5s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.hamburger {
  width: 40px;
  height: auto;
}

.dropdown_menu {
  background-color: var(--colour-light-mode-white);
  border: solid black 1px;
  border-radius: 1rem;
}

.dropdown_item {
  padding: 7px 16px;
}

.dropdown_item:hover,
.dropdown_item:focus {
  background-color: var(--colour-pinky);
  color: var(--colour-light-mode-white);
  border-radius: 15px;
}

@media (min-width: 768px) {
  .header {
    justify-content: center;
  }
  .buttons {
    flex-direction: row;
    z-index: 1;
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
  }
}

/* .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
