@import "tailwindcss";

:root {
  --colour-light-mode-white: #f2eeee;
  --colour-dark-mode-bg: #3e2733;
  --colour-pinky: #a83446;
  --colour-goldy: #d99e72;
  --colour-peachy: #df8167;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--colour-light-mode-white);
}

.cl-signIn-start,
.cl-signUp-start,
.cl-lastAuthenticationStrategyBadge {
  border: 1px solid black;
}

.cl-headerTitle,
.cl-footerActionLink {
  color: var(--colour-pinky);
}

.cl-headerSubtitle,
.cl-dividerText,
.cl-lastAuthenticationStrategyBadge,
.cl-socialButtonsBlockButtonText,
.cl-footerActionText {
  color: black;
}

.cl-socialButtonsRoot,
.cl-input,
.cl-input:hover,
.cl-input:focus {
  color: black;
  border: 1px solid black;
  border-radius: 8px;
}

.cl-dividerLine {
  background-color: black;
}

.cl-signIn-root {
  background-color: white;
}

h1 {
  font-size: 1.3rem;
  color: var(--colour-pinky);
  padding: 1.5rem 0;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  padding: 1.5rem 0;
}

.prof-h1 {
  background-color: var(--colour-goldy);
}

.amenddb-icon,
.close-icon,
.like-icon {
  color: var(--colour-pinky);
  width: 25;
  height: auto;
}

.amenddb-icon:hover,
.close-icon:hover,
.like-icon:hover,
.cl-footerActionLink:hover,
.cl-footerActionLink:focus {
  color: var(--colour-goldy);
}

h2 {
  font-size: 1.2rem;
}

input,
textarea {
  border: var(--colour-pinky) 2px solid;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio-container {
  width: 100%;
  margin: auto;
}

.post {
  background-color: var(--colour-light-mode-white);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 1rem 0;
}

input,
textarea {
  margin: auto;
  width: 20rem;
}

.form-btn,
.cl-formButtonPrimary {
  background-color: var(--colour-pinky);
  color: var(--colour-light-mode-white);
  max-width: 8rem;
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.form-btn:hover,
.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-socialButtonsBlockButton:hover,
.cl-socialButtonsBlockButton:focus {
  background-color: var(--colour-goldy);
  color: black;
}

.DialogOverlay {
  width: 1rem;
  height: auto;
  background-color: var(--colour-light-mode-white);
  position: fixed;
  inset: 0;
}

.DialogContent {
  background-color: var(--colour-light-mode-white);
  border-radius: 6px;
  box-shadow: var(--shadow-6);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  border: solid 2px var(--colour-pinky);
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.TooltipContent {
  border: solid 2px var(--colour-pinky);
  border-radius: 4px;
  padding: 10px 15px;
  background-color: var(--colour-light-mode-white);
}

.TooltipArrow {
  fill: var(--colour-pinky);
}

@media (min-width: 375px) {
  .post-container,
  .bio-container {
    width: 20rem;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 500px) {
  .post {
    margin: 0 1rem;
    min-width: 15rem;
    max-width: 22rem;
  }
}

@media (min-width: 768px) {
  .post-container,
  .bio-container {
    width: 40rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}
