.intro_section {
  background-color: var(--colour-light-mode-white);
  padding: 0 3rem 0 3rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.hero_image {
  display: none;
}

.person_img {
  height: 20vh;
  width: auto;
}

.how_it_works_section {
  background-image: url("../../public/assets/red-background-with-confetti.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  padding: 0 3rem 1rem 3rem;
}

.how_it_works_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.people_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--colour-pinky);
  border-radius: 8px;
  padding-top: 1rem;
  max-width: 15rem;
  margin: 1.5rem 0;
}

.list_item {
  list-style-type: circle;
  list-style-position: inside;
}

.how_it_works_heading {
  color: var(--colour-light-mode-white);
  padding: 1rem;
  font-weight: bold;
}

.span {
  color: var(--colour-pinky);
  font-weight: bold;
}

.how_it_works_card {
  background-color: var(--colour-light-mode-white);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .intro_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .hero_image {
    display: block;
    min-height: 11rem;
  }
  .how_it_works_container {
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 2rem;
    scrollbar-color: var(--colour-light-mode-white) transparent;
    scrollbar-width: thin;
  }
  .how_it_works_card {
    margin: 0 1rem;
    min-width: 15rem;
    max-width: 22rem;
  }
}

@media (min-width: 1000px) {
  .people_div {
    max-width: 22rem;
  }
}
