.intro_section {
  background-color: var(--colour-light-mode-white);
  padding: 0 2rem 2rem 2rem;
  text-align: left;
}

.how_it_works_section {
  height: 100vh;
  background-image: url("../../public/assets/illustration.webp");
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list_item {
  list-style-type: circle;
  list-style-position: inside;
}

.how_it_works_heading {
  color: var(--colour-light-mode-white);
  padding-top: 1rem;
}

.span {
  color: var(--colour-pinky);
}
